
.CardContainer{


width: 345px;



    .cardImage{

        height: 310px;
        object-fit: cover;
      
        
        }
        


        .CardDiscraption{
         
            background-color: #1a1919;
            color: white;

        }
}