.InputSearchContianer {

margin-right: 2rem;



.inputSearch.MuiTextField-root{


    background-color: white;
    border-radius: 10px;
    width: 300px;
   
}



.icon{

    color: white;
}

p {
    margin-top: 5px;
    color: red;
    font-size: 16px;
    
    }
}