.lastSearchBtn {
  background-color: yellow;
  color: black;
  padding: 7px 17px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 5px;

  &:hover {
    background-color: rgb(241, 186, 3);
  }
}
