.LinksContainer {

display: flex;
justify-content: center;
align-items: center;
gap: 2.3rem;
justify-items:center ;

a{

color: white;
text-decoration: none;
margin-right: 1rem;

&:hover {
    color: #FEDB00;
}


}

}